* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
body {
    background-color: #7F7303;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden
}
#sidebar {
    background-color: black;
    opacity: 0.8;
    width: 180px;
    height: calc( 100vh - 72px);
    float: left;
}
main {
    float: left;
    overflow-y: scroll;
    height: calc( 100vh - 80px);
    width: calc( 100vw - 180px);
}

#sidebar img {
    width: 120px;
    margin:20px;
}
#sidebar-top ul li {
    padding: 8px 0 12px 20px;
}
#sidebar-top ul li:hover {
    border-left: 2px solid #31C34D;
}
#sidebar-top ul a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}
#sidebar-top ul a:hover {
    color: white;
}
#sidebar-top ul i {
    margin-right: 15px;
}
#my-container {
    width: 800px;
    margin: 20px auto;
}
#main-menu {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
#main-menu ul {
    list-style-type: none;
}
#main-menu ul li {
    display: inline-block;
    margin: 0 2%;
}
#main-menu ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
#main-menu ul a:hover {
    color: white;
}
#main-menu-hide a {
    font-size: 28px;
    color: white;
}
.sezioni h2 {
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
.anteprime {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.artisti-e-playlist-cerchio {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: red;
    margin: 30px 0;
}
.artisti-e-playlist-quadrato {
    width: 120px;
    height: 120px;
    background-color: green;
    margin: 30px 0;
}
.anteprime img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.artisti-e-playlist-cerchio img {
    border-radius: 50%;
}
.anteprime p {
    text-align: center;
    margin-top: 8px;
    color: white;
    opacity: 0.6;
    font-size: 14px;
    font-style: italic;
}
footer {
    background-color: #2B2B2B;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}
#footer-left {
    display: flex;
}
footer p {
    color: white;
}
footer small {
    color: lightgrey;

}
footer img {
    width: 50px;
    margin-right: 15px;
}
footer #song-button {
    text-align: center;
    width: 40%;
}
footer i {
    color: lightgrey;
    margin:0px 15px 18px 0;
}
#footer-right {
    margin-top: 20px;
}
.slidecontainer2 {
    display: inline-block;
}

.slidecontainer1 .slidecontainer2 {
  width: 100%;
}
.slidecontainer1 {
    display: flex;
    align-items: center;
}
#song-button small {
    flex-shrink: 0;
    color: white;
    font-size: 10px;
}
.slider {
  -webkit-appearance: none;
  flex-grow: 1;
  margin: 0 5px;
  height: 2px;
  border-radius: 5px;
  background:rgba(255, 255, 255, 0.3);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
    #main-menu {
        display: block;
    }
    #main-menu-hide {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    #my-container {
        width: 90%;
    }
    .anteprime {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .artisti-e-playlist-cerchio {

        margin: 30px 20px 30px 0;
    }
    .artisti-e-playlist-quadrato {

        margin: 30px 20px 30px 0;
    }
    .anteprime p {
        font-size: 16px;
    }
    #main-menu {
        display: none;
    }
}
@media screen and (max-width:802px) {
    #footer-right {
        display:none;
    }
    footer {
        justify-content: space-around;
    }
    footer #song-button {
        text-align: center;
        width: 60%;
    }
}
@media screen and (min-width:492px) {
    #logo-hide {
        display: none;
    }
    #sidebar-top #ul-hide {
        display: none;
    }
    #titolo-autore {
        display:block;
    }
}
@media screen and (max-width:491px) {
    #sidebar {
        width: 80px;
    }
    main {
        width: calc( 100vw - 80px);
    }
    #logo-block {
        display: none;
    }
    #logo-hide i {
        font-size: 40px;
        color: white;
        padding: 20px;
    }
    #sidebar-top #ul-block{
        display: none;
    }

    #ul-hide i  {
        font-size: 25px;
        text-align: center;
    }
    #sidebar-top #ul-hide li:hover {
        border-left: 4px solid #31C34D;
    }
    #titolo-autore {
        display: none;
    }
    footer #song-button {
        text-align: center;
        width: 70%;
    }
}
@media screen and (max-width:391px) {
    .artisti-e-playlist-cerchio {
        width: 200px;
        height: 200px;
        margin: 30px 20px 30px 10px;
    }
    .artisti-e-playlist-quadrato {
        width: 200px;
        height: 200px;
        margin: 30px 20px 30px 10px;
    }
    #main-menu-hide a {
        font-size: 36px;
    }

}
